.profile {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 100%;
  height: auto;
  border: 5px rgb(25, 186, 36) solid;
  border-radius: 12px;
  background-color: #ffffff;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.avatar {
  display: block;
  border-radius: 50%;
  border: 3px rgb(25, 186, 36) solid;
  background-color: rgb(47, 47, 55);
  max-width: 40%;
  margin: 20px auto;
  overflow: hidden;
}

.name {
  font-weight: bold;
  font-size: 38px;
  color: #000;
  margin-bottom: 8px;
}

.tag {
  font-weight: normal;
  font-size: 32px;
  color: gray;
  margin-bottom: 4px;
}

.location {
  font-weight: normal;
  font-size: 32px;
  color: grey;
  margin-bottom: 12px;
}

.statsList {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px #555 solid;

  background-color: rgb(200, 196, 196);
}

.statsItem {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-right: 2px solid #555;
  text-align: center;
}

.statsItem:not(:nth-child(3n)) {
  border-right: 2px solid #555;
}

.statsItem.lastInRow {
  border-right: none;
}

.statsDesc {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-weight: normal;
  font-size: 38px;
  color: #000;
}

.quantity {
  font-weight: bold;
  font-size: 38px;
  color: #000;
}
